<table class="table" *ngIf="results?.length >0">
  <thead class="thead-dark">
  <tr>
    <th scope="col">City</th>
    <th scope="col" *ngFor="let h of headers">{{h}}</th>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let city of results">
    <td scope="row">{{ city.city.name }}</td>
    <td scope="row">{{ city.list[0].main.temp | number: '.0-0' }} &deg;</td>
    <td scope="row">{{ city.list[2].main.temp | number: '.0-0' }} &deg;</td>
    <td scope="row">{{ city.list[4].main.temp | number: '.0-0' }} &deg;</td>
    <td scope="row">{{ city.list[6].main.temp | number: '.0-0' }} &deg;</td>
  </tr>
  </tbody>
</table>
