<form class="form-inline mb-5" name="form" role="form" [formGroup]="form" (ngSubmit)="search()">
  <div class="form-group col-8 pl-0">
    <input class="form-control mt-3 col"
           id="city"
           formControlName="city"
           name="city"
           placeholder="Search city ..."
           type="text"
           required>
  </div>
  <button id="btn-search" class="btn-search btn btn-primary mt-3 col-4"  type="submit">Search</button>
</form>
